version: '3.5'

services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - 3000:3000
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:12
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data:
